@model AmirGarcia_EjercicioCF.Models.AG_Promo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AG_Promo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaProm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaProm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Burger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Burger.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
